doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 秘密の匿名掲示板
  body
    h1 秘密の匿名掲示板
    a(href="/logout") ログアウト
    h2 新規投稿
    form(method="post" action="/posts")
      div
        textarea(name="content" cols=40 rows=4)
      div
        button(type="submit") 投稿
    h2 投稿一覧
    a(href="/posts/ASC") 投稿が新しい順<br>
    a(href="/posts/DESC") 投稿が古い順
    each post in posts
      p #{post.id} #{post.content}
      p 投稿日時: #{post.createdAt}
      -var time = now - post.createdAt
      if time  < 60000
        p #{parseInt(time/1000)}秒前
      else if time < 3600000
         p #{parseInt(time/60000)}分前
      else if time < 86400000
        p #{parseInt(time / 3600000)} 時間前
      else
        p #{parseInt(time / 86400000)}日前
      hr